@import url('https://fonts.googleapis.com/css2?family=Exo:wght@100;200;300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

/* colors used for the website */

:root {
    
}

/* global styles */

* {
    margin: 0;
    padding: 0;
    border: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

a {
    text-decoration: none;
}

/* Heading */

header {
    margin: 0;
}

.heading {
    margin-left: 5rem;
}

/* Colors */

.bg-color-name-title {
    background: #676767;
}

.logo {
    background: url("../images/ant.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.name {
    font-family: "Exo", sans-serif;
    font-weight: 100;
    font-size: 4.6rem;
    margin-top: 5rem;
    color: #fff;
}

.title {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-size: 2.8rem;
    margin-top: 2rem;
    margin-bottom: 9rem;
    color: #fff;
}